*{
  padding: 0;
  margin: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.header-logo{
  font-size: 80px;
  color: #4bcaff;
  margin-top: 61px;
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
  margin-bottom: 45px;
}

.head-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #35444f;
  font-size: 24px;
  text-align: center;
}

.head-menu li{
  display: inline;
}

.head-menu li a{
  display: inline-block;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  border: solid 1px transparent;
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}

.head-menu li a:hover{
  background-color: #222f3a;
  border-left: solid 1px;
  border-right: solid 1px;
  border-left-color: #818181;
  border-right-color: #818181;
}

.left-menu{
  list-style-type: none;
  margin-top: 35px;
  padding: 0;
  width: 294px;
  background-color: white;
  font-size: 24px;
  text-align: left;
  float: left;
  border: solid 1px #35444f;
}

.left-menu li{
  display: inline;
}

.left-menu li a{
  display: block;
  color: #616e78;
  padding: 18px 0px 18px 30px;
  text-decoration: none;
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}

.left-menu li a:hover{
  background-color: #dbdbdb;
  padding-left: 55px;
  color: black;
}

.clearfix:after{
    clear:both;
    content:'';
    display: table;
}

.main-logo{
  margin-top: 35px;
  border: solid 1px #35444f;
  float: right;
  width: 855px;
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo img{
  transition: transform .3s;
}

.main-logo img:hover{
  transform: scale(1.2);
}

.main-text{
  padding: 50px 40px 20px 360px;
}

.main-text p{
  margin-bottom: 30px;
  font-size: 18px;
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}

.copyright{
  text-align: right;
  float: right;
  font-size: 24px;
  line-height: 57px;
  padding-right: 19px;
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}

.footer{
  height: 57px;
  background-color: #b4b7ba;
  margin-bottom: 30px;
}

.footer-menu{
  list-style-type: none;
  padding-left: 38px;
  font-size: 28px;
  text-align: left;
  float: left;
}

.footer-menu li{
  display: inline-block;
  padding-right: 15px;
}

.footer-menu li a{
  display: inline-block;
  color: #0c1927;
  padding: 12px 0;
  text-decoration: none;
  font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}

.footer-menu li a:hover{
  color: #3181a6;
  text-decoration: underline;
}
